@font-face {
    font-family: 'Entezare';
    src: url('fonts/Product-Sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa';
    src: url("fonts/Quicksand-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #f7f8fa;
    font-family:'Entezare';
}
/* main parts of the grid */
.heading {
    margin-top: 100px;
    color: #5b566e;
}
.content {
    margin-top: 80px;
    color: #5b566e;
}
.footer{
    margin-top: 40px;
    font-family:'Nexa', Tahoma, serif;
    color: #b5b3c3;
}
/* gif image developer */
.developer-icon {
    margin-top: -300px;
    margin-left: 100px;
    width: 100%;

}
/* parts of the content*/
.resume{
    font-family:'Nexa', Tahoma, serif;
    margin-top: -16px;
}
.exp-heading{
    margin-bottom: 40px;
}
.exp-bloc{
    font-family:'Nexa', Tahoma, serif;
    margin-top: 20px;
}
.exp-date{
    font-family:'Nexa', sans-serif;
    font-size: small;
    color: #b5b3c3;
}
.exp-entreprse{
    font-family:'Nexa', sans-serif;
    font-size: 1.3em;
}
.exp-content{
    font-size: .9em;
}
.skills-container{
    font-family:'Nexa', Tahoma, serif;
    margin-top: 40px;
}
.skills-container span{
    display: inline-block;
    font-family:'Nexa', Tahoma, serif;
    border:2px #dcdcdc solid;
    background-color: #dcdcdc;
    color: #7b788a;
    border-radius: 1em;
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 15px;
}
.certifications-title{
    margin-top: 10px;
    margin-bottom: 20px;
}
.certifications-list{
    width: 120%;
}
.certifications-list i{
    margin-right: 10px;
}
.certifications-list span{
    margin-bottom: 3px;
}
/* parts of the footer */
.footer-left{
    float: left;
}
.footer-right{
    float:right;
}
.footer-right a{
    color: #b5b3c3;
}
.footer-right i{
    margin-left: 10px;
}
.footer-right i:hover{
    cursor: pointer;
}